* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    
} */
nav {
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

nav img {
    position: absolute;
    width: 292px;
    height: 32px;
    left: 20%;
    top: 24px;
}
.top-section {
    display: flex;
    justify-content: center;
}
.top-sec-content {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url('./img/blob.svg');
    background-repeat: no-repeat;
    /* background-size: 1567px 622px; */
    background-size: 100%;
    padding-bottom: 10%;
}
.top-r {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}
.top-r h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
}
.top-r button {
    width: 280px;
    height: 60px;
    background: linear-gradient(180deg, #F22E06 0%, #CE2206 100%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.top-r button h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.top-r h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.top-l {
    width: 32%;
}
.top-l img {
    width: 100%;
}

/*   Text(2nd) section starts */

.txt-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 800px; */
}

.txt-section h1 {
    max-width: 800px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #121416;
    margin-bottom: 1.5rem;
}
.txt-section h3 {
    max-width: 800px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #323436;
    mix-blend-mode: normal;
}
.txt-section .social-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
}
.app-highlights {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.app-highlights img {
    width: 80%;
}
/*    Cards section   */
.cards-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cards {
    max-width: 62%;
    display: flex;
    gap: 20px;
    margin-bottom: 3rem;
    justify-content: center;
}
.cards h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    color: #121416;
    padding: 1rem 0rem;
}
.cards h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #323436;
}
.card-content {
    padding: 1rem;
}
.card-one {
    width: 33%;
    background: #F2F4F6;
    border-radius: 8px;
    padding-bottom: 2rem;
}
.card-one img {
    width: 100%;
}
.card-two {
    width: 33%;
    background: #F2F4F6;
    border-radius: 8px;
    padding-bottom: 2rem;
}
.card-two img {
    width: 100%;
}
.card-three {
    width: 33%;
    background: #F2F4F6;
    border-radius: 8px;
    padding-bottom: 2rem;
}
.card-three img {
    width: 100%;
}
.cards-button button {
    width: 280px;
    height: 60px;
    background: linear-gradient(180deg, #F22E06 0%, #CE2206 100%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 4rem;
}
.cards-button button h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

footer {
    height: 310px;
    background: linear-gradient(180deg, #075FC7 0%, #055DA0 100%);
    margin-top: 1rem;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.icons {
    width: 55%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.3);
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.icons .icons-r {
    display: flex;
    gap: 2rem;
}
.icons-r img {
    padding-bottom: 1.5rem;
}
.icons-l img {
    padding-bottom: 1.5rem;
}
.footer-nav {
    display: flex;
    justify-content: center;
}
.ftr-nav {
    width: 55%;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 1.5rem;    
}
.ftr-nav-l p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FEFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.ftr-nav-r {
    display: flex;
    gap: 1.5rem;
}
.ftr-nav-r a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FEFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    text-decoration: none;
}
.ftr-nav-r a:hover {
    text-decoration-line: underline;
}
.last {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}
.last p {
    width: 55%;
    display: flex;
    justify-content: space-between;  
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FEFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    text-decoration: none;
}


/*    Responsive Design   */

@media only screen and (max-width: 1200px) {
    nav img {
        left: 15%;
    }
    .top-sec-content {
        height: 500px;
        padding-bottom: 15%;
        gap: 1rem;
    }
    .top-r {
        width: 40%;
    }
    .top-l {
        width: 32%;
    }
    .top-r h1 {
        font-size: 36px;
    }
    .top-r h4 {
        font-size: 19px;
    }
    .top-r button {
        width: 57%;
    }
    .top-r button h5 {
        font-size: 19px;
    }
    .txt-section h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 46px;
        width: 55%;
    }
    .txt-section h3 {
        font-size: 18px;
        line-height: 28px;
        width: 55%;
    }
    .app-highlights img {
        width: 70%;
    }
    .cards {
        max-width: 70%;
    }
    .icons-r img {
        padding-bottom: 1rem;
    }
    .icons .icons-r {
        gap: 1rem;
    }
    .ftr-nav-l p {
        font-size: 14px;
    }
    .ftr-nav-r a {
        font-size: 14px;
        opacity: 0.7;
    }
    .last p {
        font-size: 12px;
    }

    
}
/*   resposive design for screens less than 1020px  */

@media only screen and (max-width: 1020px) {
    nav img {
        left: 15%;
    }
    .top-sec-content {
        height: 480px;
        padding-bottom: 18%;
    }
    .top-r h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .top-r h4 {
        font-size: 18px;
        line-height: 28px;
        color: #121416;
        font-weight: 600;
    }
    .top-l {
        width: 34%;
    }
    .top-l img {
        width: 110%;
        margin-top: 2rem;
    }
    .top-r button {
        width: 62%;
    }
    .top-r button h5 {
        font-size: 18px;
    }
    .cards h1 {
        font-weight: 800;
        font-size: 18px;
        line-height: 28px;
    }
    .cards h4 {
        font-size: 12px;
        line-height: 22px;
    }
    .cards {
        height: 420px;
    }
}

@media only screen and (max-width: 880px) {
    nav {
        height: 72px;
    }
    nav img {
        left: 14%;
        width: 270px;
        height: 28px;
    }
    .top-sec-content {
        height: 380px;
        padding-bottom: 15%;
    }
    .top-r h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .top-r h4 {
        font-size: 16px;
        line-height: 24px;
        color: #121416;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    .top-l {
        width: 32%;
    }
    .top-l img {
        width: 120%;
        margin-top: -1rem;
    }
    .top-r button {
        width: 66%;
    }
    .top-r button h5 {
        font-size: 15px;
        font-weight: 600;
    }
    .txt-section h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 42px;
        width: 65%;
    }
    .txt-section h3 {
        font-size: 16px;
        line-height: 26px;
        width: 65%;
    }
    .app-highlights img {
        width: 80%;
    }
    .cards {
        gap: 8px;
        height: 390px;
        max-width: 80%;
    }
    .card-content {
        padding: 10px;
    }
    .cards h1 {
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
    }
    .cards h4 {
        font-size: 11px;
        line-height: 20px;
    }
    .cards-button button {
        width: 250px;
        margin-bottom: 2rem;
    }
    .cards-button button h5 {
        font-weight: 700;
        font-size: 18px;
    }
    .icons {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .icons-l img {
        padding-bottom: 0;
        width: 3rem;
    }
    .icons-r img {
        padding-bottom: 0.5rem;
        width: 4rem;
    }
    .last-icon {
        height: 3rem;
    }
    .ftr-nav-l p, .ftr-nav-r a {
        font-size: 12px;
    }
    .last p {
        font-size: 11px;
    }
}

@media only screen and (max-width: 680px) {
    .top-sec-content {
        flex-direction: column;
        background: none;
        height: auto;
        margin-bottom: -2rem;
    }
    .top-r {
        width: 90%;
    }
    .top-r h1 {
        font-size: 28px;
        line-height: 40px;
        color: #121416;
        font-weight: 900;
    }
    .top-r h4 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 2rem;
    }
    .top-r button {
        width: 50%;
        align-self: center;
    }
    .top-l {
        width: 62%;
        display: flex;
        justify-content: center;
    }
    .top-l img {
        margin-top: 2rem;
    }
    .txt-section h1 {
        width: 85%;
    }
    .txt-section h3 {
        width: 85%;
    }
    .app-highlights img {
        width: 85%;
    }
    .cards {
        height: auto;
        max-width: 90%;
        flex-wrap: wrap;
        gap: 9px;
    }
    .card-one, .card-two {
        width: 49%;
    }
    .card-three {
        width: 80%;
        margin-top: 1rem;
    }
    .cards h1 {
        font-size: 14px;
        line-height: 22px;
    }
    footer {
        height: 280px;
    }
    .icons, .ftr-nav, .last p {
        width: 70%;
    }
}
@media only screen and (max-width: 500px) {
    nav {
        height: 66px;
    }
    nav img {
        left: 6%;
        width: 212px;
        height: 22px;
    }
    .top-r button {
        width: 100%;
    }
    .top-r button h5 {
        font-size: 22px;
        font-weight: 800;
    }
    .top-l {
        width: 70%;
    }
    .card-content {
        padding: 18px;
    }
    .cards h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .cards h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .card-one, .card-two, .card-three {
        width: 90%;
    }
    .app-highlights img {
        width: 80%;
    }
    footer {
        height: 250px;
    }
    .icons {
        margin-top: 1rem;
    }
    .icons-l img {
        width: 2rem;
    }
    .icons-r img {
        width: 3rem;
    }
    .last-icon {
        width: 2rem;
    }
    .last p {
        font-size: 10px;
    }
    .ftr-nav {
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 380px) {
    .top-r h1 {
        font-size: 22px;
        line-height: 32px;
        font-weight: 800;
    }
    .top-r h4 {
        font-size: 16px;
    }
    .txt-section h1 {
        width: 90%;
        font-size: 18px;
        line-height: 32px;
    }
    .txt-section h3 {
        width: 90%;
    }
    .txt-section .social-links {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .app-highlights img {
        width: 90%;
    }
    .cards {
        max-width: 100%;
    }
    footer {
        height: 240px;
    }
    .ftr-nav-l p, .ftr-nav-r a {
        font-size: 10px;
    }
    .ftr-nav-r {
        gap: 0.5rem;
    }
    .last p {
        line-height: 16px;
        font-size: 8px;
    }
    .last p {
        font-size: 8px;
    }
}